In [1]:
import plotly.plotly as py
import plotly.figure_factory as ff

import numpy as np
import pandas as pd

import bokeh
from bokeh.io import show
from bokeh.models import LogColorMapper, CustomJS, Toggle, ColumnDataSource, CDSView, GroupFilter
from bokeh.palettes import Viridis6 as palette
from bokeh.plotting import figure
from bokeh.layouts import column, row, widgetbox 

from bokeh.models.widgets import Slider
from bokeh.layouts import Column

from bokeh.sampledata.us_counties import data as counties

In [2]:
df = pd.read_csv("clean.csv")

/Users/katietruong/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning:

Columns (19,23,24,26,33,36,37,38,39,40,41,42,43) have mixed types. Specify dtype option on import or set low_memory=False.

In [3]:
def county_name_format(name):
    final_name = ""
    try:
        if type(name) != 'float':
            words = name.split(" ")
            if words[-1] == 'COUNTY':
                words.pop()
            for i in range(0, len(words)):
                final_name += words[i].capitalize() + " "
            final_name = final_name.rstrip()
        else:
            final_name = np.nan
    except:
        pass
    return(final_name)

In [4]:
counties_ca = {
    code: county for code, county in counties.items() if (county["state"] == "ca")
}

In [11]:
county_xs = [county["lons"] for county in counties_ca.values()]
county_ys = [county["lats"] for county in counties_ca.values()]
county_names = [county['name'] for county in counties_ca.values()]

In [12]:
def replace_nan(county_info):
    for l in county_info:
        for idx, item in enumerate(l):
            if np.isnan(item):
                l[idx] = np.nanmean(l)
    return(county_info)

In [13]:
county_xs = replace_nan(county_xs)
county_ys = replace_nan(county_ys)

In [14]:
df['recipient_location_county_name'] = df['recipient_location_county_name'].apply(lambda name: county_name_format(name))

In [15]:
sum_obligation = df.groupby(['fiscal_year','recipient_location_county_name'])['total_obligation'].median().reset_index()

In [16]:
sum_obligation = sum_obligation[sum_obligation['recipient_location_county_name']!= '']

In [17]:
sum_obligation['total_obligation'] = sum_obligation['total_obligation'].apply(lambda x: x/1000000)

In [18]:
years = sum_obligation['fiscal_year'].unique()

In [19]:
for year in years:
    sub = sum_obligation[sum_obligation['fiscal_year']==year]
    temp = pd.DataFrame(columns=['fiscal_year', 'recipient_location_county_name', 'total_obligation'])
    for county in county_names:
        if county not in sub['recipient_location_county_name'].unique():
            temp = temp.append({'fiscal_year': year, 'recipient_location_county_name': county, 'total_obligation': 0}, ignore_index=True)
    for county in sub['recipient_location_county_name'].unique():
        if county not in county_names:
            sum_obligation = sum_obligation[sum_obligation['recipient_location_county_name']!= county]
    sum_obligation = sum_obligation.append(temp)

In [20]:
sum_obligation = sum_obligation.sort_values(by=['fiscal_year', 'recipient_location_county_name']).reset_index()

In [22]:
sum_obligation

      index fiscal_year recipient_location_county_name total_obligation
0         1        2001                        Alameda         0.253401
1         0        2001                         Alpine                0
2         2        2001                         Amador         0.207502
3         3        2001                          Butte         0.023696
4         4        2001                      Calaveras         0.794194
5         5        2001                         Colusa         0.340466
6         6        2001                   Contra Costa            0.192
7         1        2001                      Del Norte                0
8         7        2001                      El Dorado         0.079715
9         8        2001                         Fresno         0.170854
10        9        2001                          Glenn         0.360175
11       10        2001                       Humboldt         0.067055
12       11        2001                       Imperial          0.30151
13       12        2001                           Inyo          0.06911
14       13        2001                           Kern             0.05
15       14        2001                          Kings         0.124175
16       15        2001                           Lake         0.072374
17       16        2001                         Lassen         0.023554
18       17        2001                    Los Angeles         0.237151
19       18        2001                         Madera         0.033789
20       19        2001                          Marin         0.249891
21       20        2001                       Mariposa        0.0502045
22       21        2001                      Mendocino        0.0411885
23       22        2001                         Merced         0.089663
24       23        2001                          Modoc         0.017349
25        2        2001                           Mono                0
26       24        2001                       Monterey             0.06
27       25        2001                           Napa         0.055565
28        3        2001                         Nevada                0
29       26        2001                         Orange         0.198965
...     ...         ...                            ...              ...
1072   1022        2019                         Nevada                0
1073   1023        2019                         Orange         0.015828
1074   1024        2019                         Placer            0.125
1075   1025        2019                         Plumas         0.110678
1076   1026        2019                      Riverside           0.2335
1077   1027        2019                     Sacramento          1.71016
1078   1028        2019                     San Benito                0
1079   1029        2019                 San Bernardino                0
1080   1030        2019                      San Diego         0.192795
1081   1031        2019                  San Francisco         0.265228
1082   1032        2019                    San Joaquin                0
1083   1033        2019                San Luis Obispo          14.5562
1084   1034        2019                      San Mateo          1.37406
1085   1035        2019                  Santa Barbara         0.276929
1086   1036        2019                    Santa Clara         0.292764
1087   1037        2019                     Santa Cruz            0.009
1088   1038        2019                         Shasta        0.0115714
1089      6        2019                         Sierra                0
1090   1039        2019                       Siskiyou         0.126099
1091   1040        2019                         Solano         0.393123
1092   1041        2019                         Sonoma                0
1093   1042        2019                     Stanislaus          53.6028
1094      7        2019                         Sutter                0
1095      8        2019                         Tehama                0
1096      9        2019                        Trinity                0
1097   1043        2019                         Tulare             0.15
1098   1044        2019                       Tuolumne         0.454917
1099   1045        2019                        Ventura                0
1100   1046        2019                           Yolo         0.728148
1101   1047        2019                           Yuba                0

[1102 rows x 4 columns]

In [ ]:
# data=dict(
#     x=county_xs,
#     y=county_ys,
#     name=county_names,
#     rate=sample['total_obligation'],
# )

In [24]:
years = sum_obligation['fiscal_year'].unique()
data_list = []
for year in years:
    data = dict(
        x=county_xs,
        y=county_ys,
        name=county_names,
        year=str(year),
        rate=sum_obligation[sum_obligation['fiscal_year']==year]['total_obligation']
    )
    data_list.append(data)
plot_df = pd.DataFrame(data_list[0])
for i in range(1, len(data_list)):
    try:
        temp = pd.DataFrame(data_list[i])
        plot_df = plot_df.append(temp)
    except:
        print(i)

In [25]:
plot_df

,x,y,name,year,rate
0,"[-122.26254, -122.25876, -122.25586, -122.2530...","[37.90194, 37.89909, 37.8965, 37.8941, 37.8870...",Alameda,2001,0.253401
1,"[-119.83828, -119.832, -119.82106, -119.81054,...","[38.88801, 38.88374, 38.87596, 38.86882, 38.85...",Alpine,2001,0
2,"[-120.70401, -120.64529, -120.59707, -120.5583...","[38.53596, 38.50946, 38.50418, 38.51042, 38.51...",Amador,2001,0.207502
3,"[-121.23727, -121.23866, -121.3052, -121.33296...","[39.52657, 39.52658, 39.51325, 39.46875, 39.45...",Butte,2001,0.023696
4,"[-120.0819, -120.08198, -120.12248, -120.16929...","[38.40885, 38.40873, 38.39886, 38.37713, 38.35...",Calaveras,2001,0.794194
5,"[-121.92768, -121.94528, -121.94404, -121.9402...","[39.27397, 39.2531, 39.23476, 39.22162, 39.206...",Colusa,2001,0.340466
6,"[-121.91161, -121.89071, -121.87505, -121.8651...","[38.04503, 38.04653, 38.05055, 38.05991, 38.06...",Contra Costa,2001,0.192
7,"[-123.99403, -124.00118, -124.00875, -124.0167...","[41.46529, 41.46514, 41.46504, 41.46496, 41.46...",Del Norte,2001,0
8,"[-120.70401, -120.70405, -120.7478, -120.80083...","[38.53596, 38.53608, 38.55313, 38.55728, 38.55...",El Dorado,2001,0.079715
9,"[-120.65159, -120.63665, -120.6274, -120.59122...","[36.9528, 36.95272, 36.9528, 36.95264, 36.9728...",Fresno,2001,0.170854
10,"[-122.02456, -121.98569, -121.96552, -121.9679...","[39.76794, 39.73848, 39.74142, 39.72332, 39.73...",Glenn,2001,0.360175
11,"[-123.62228, -123.6219, -123.6057, -123.60171,...","[40.92684, 40.9264, 40.90415, 40.87995, 40.862...",Humboldt,2001,0.067055
12,"[-115.46516, -115.47231, -115.4741, -115.47731...","[32.6671, 32.66657, 32.66643, 32.66619, 32.666...",Imperial,2001,0.30151
13,"[-116.04686, -116.08093, -116.12686, -116.2057...","[35.79383, 35.79349, 35.79353, 35.79339, 35.79...",Inyo,2001,0.06911
14,"[-118.87699, -118.88294, -118.88189, -118.8819...","[34.80321, 34.81792, 34.79062, 34.79062, 34.79...",Kern,2001,0.05
15,"[-119.745, -119.73621, -119.73036, -119.72022,...","[36.41705, 36.41628, 36.42073, 36.41815, 36.42...",Kings,2001,0.124175
16,"[-123.02956, -122.9946, -123.01966, -123.01971...","[39.20075, 39.24424, 39.29964, 39.32176, 39.36...",Lake,2001,0.072374
17,"[-119.99828, -119.99829, -119.99872, -119.9994...","[39.9631, 39.96281, 39.93138, 39.86553, 39.798...",Lassen,2001,0.023554
18,"[-118.3289, -118.32571, -118.31739, -118.30489...","[32.87504, 32.87173, 32.86376, 32.85346, 32.83...",Los Angeles,2001,0.237151
19,"[-120.45364, -120.49976, -120.53843, -120.5417...","[36.88008, 36.98496, 37.02421, 37.0445, 37.044...",Madera,2001,0.033789
20,"[-122.58713, -122.57844, -122.56412, -122.5445...","[38.18706, 38.18371, 38.17044, 38.15873, 38.11...",Marin,2001,0.249891
21,"[-120.08962, -120.06473, -120.02501, -119.9264...","[37.81174, 37.82308, 37.81132, 37.76436, 37.77...",Mariposa,2001,0.0502045
22,"[-123.02956, -123.02965, -123.05512, -123.0875...","[39.20075, 39.20009, 39.17358, 39.13839, 39.09...",Mendocino,2001,0.0411885
23,"[-120.65159, -120.6537, -120.67275, -120.68653...","[36.9528, 36.95282, 36.93938, 36.92831, 36.917...",Merced,2001,0.089663
24,"[-120.05437, -120.04266, -120.00104, -119.9991...","[41.99506, 41.9951, 41.99514, 41.99454, 41.979...",Modoc,2001,0.017349
25,"[-119.62925, -119.64434, -119.64012, -119.6392...","[38.26854, 38.29121, 38.32516, 38.32688, 38.32...",Mono,2001,0
26,"[-121.74542, -121.73621, -121.72826, -121.7216...","[36.90927, 36.9085, 36.91152, 36.91292, 36.909...",Monterey,2001,0.06
27,"[-122.20107, -122.19408, -122.20177, -122.2049...","[38.27197, 38.25291, 38.24032, 38.19852, 38.16...",Napa,2001,0.055565
28,"[-120.55531, -120.67005, -120.6907, -120.71513...","[39.31561, 39.30822, 39.30405, 39.29225, 39.27...",Nevada,2001,0
29,"[-117.53781, -117.53843, -117.54267, -117.5563...","[33.45596, 33.45564, 33.45499, 33.45218, 33.45...",Orange,2001,0.198965
...,...,...,...,...,...
1072,"[-120.55531, -120.67005, -120.6907, -120.71513...","[39.31561, 39.30822, 39.30405, 39.29225, 39.27...",Nevada,2019,0
1073,"[-117.53781, -117.53843, -117.54267, -117.5563...","[33.45596, 33.45564, 33.45499, 33.45218, 33.45...",Orange,2019,0.015828
1074,"[-120.55531, -120.55503, -120.32616, -120.1178...","[39.31561, 39.31557, 39.31644, 39.31628, 39.31...",Placer,2019,0.125
1075,"[-121.36488, -121.35688, -121.35202, -121.3605...","[40.23871, 40.25337, 40.26939, 40.27852, 40.29...",Plumas,2019,0.110678
1076,"[-116.96212, -116.88039, -116.70904, -116.5913...","[34.00482, 34.03401, 34.03371, 34.03262, 34.03...",Riverside,2019,0.2335
1077,"[-121.53368, -121.53715, -121.5588, -121.54612...","[38.47438, 38.4746, 38.49748, 38.51534, 38.524...",Sacramento,2019,1.71016
1078,"[-120.75245, -120.72617, -120.67866, -120.6391...","[36.6073, 36.58654, 36.54828, 36.5165, 36.4882...",San Benito,2019,0
1079,"[-114.63513, -114.63438, -114.61692, -114.5923...","[34.87487, 34.87289, 34.85537, 34.84115, 34.81...",San Bernardino,2019,0
1080,"[-117.53781, -117.51425, -117.50857, -117.5093...","[33.45596, 33.46779, 33.47045, 33.49185, 33.50...",San Diego,2019,0.192795
1081,"[-123.00111, -122.99754, -122.99509, -122.9874...","[37.77205, 37.77078, 37.76913, 37.76387, 37.75...",San Francisco,2019,0.265228
1082,"[-121.51665, -121.54575, -121.55666, -121.5568...","[37.52553, 37.53253, 37.55004, 37.57664, 37.61...",San Joaquin,2019,0
1083,"[-120.44515, -120.56581, -120.70279, -120.7005...","[34.98846, 34.97738, 34.99997, 35.00965, 35.02...",San Luis Obispo,2019,14.5562
1084,"[-122.19399, -122.19111, -122.19111, -122.1973...","[37.40902, 37.39548, 37.38797, 37.37608, 37.36...",San Mateo,2019,1.37406
1085,"[-119.00093, -119.00093, -118.99784, -118.9944...","[33.53589, 33.53582, 33.5342, 33.53271, 33.531...",Santa Barbara,2019,0.276929
1086,"[-122.19399, -122.19393, -122.18959, -122.1913...","[37.40902, 37.40927, 37.41747, 37.4253, 37.434...",Santa Clara,2019,0.292764
1087,"[-122.30583, -122.3109, -122.31531, -122.31698...","[37.13846, 37.14621, 37.17025, 37.18224, 37.18...",Santa Cruz,2019,0.009
1088,"[-122.46602, -122.46618, -122.62454, -122.7211...","[40.38084, 40.38096, 40.34514, 40.34808, 40.36...",Shasta,2019,0.0115714
1089,"[-120.00222, -120.0025, -120.00284, -120.00289...","[39.50064, 39.48709, 39.47251, 39.46758, 39.46...",Sierra,2019,0
1090,"[-121.52553, -121.51211, -121.49134, -121.4717...","[41.99803, 41.99819, 41.99772, 41.99748, 41.99...",Siskiyou,2019,0.126099
1091,"[-121.91161, -121.91194, -121.92846, -121.9355...","[38.04503, 38.04505, 38.04705, 38.04886, 38.05...",Solano,2019,0.393123
1092,"[-122.58713, -122.58722, -122.60092, -122.6207...","[38.18706, 38.18699, 38.18526, 38.18209, 38.17...",Sonoma,2019,0
1093,"[-121.10598, -121.09051, -121.06483, -121.0503...","[37.74005, 37.73585, 37.74633, 37.74168, 37.74...",Stanislaus,2019,53.6028
1094,"[-121.72346, -121.72644, -121.72865, -121.7587...","[38.82413, 38.84193, 38.85738, 38.86871, 38.86...",Sutter,2019,0
1095,"[-122.46602, -122.25487, -122.16088, -122.0801...","[40.38084, 40.38481, 40.39469, 40.41228, 40.42...",Tehama,2019,0
1096,"[-123.62228, -123.58496, -123.5626, -123.52856...","[40.92684, 40.93048, 40.94971, 40.93436, 40.91...",Trinity,2019,0
1097,"[-119.44429, -119.42462, -119.41296, -119.3806...","[36.5752, 36.57514, 36.57521, 36.57475, 36.574...",Tulare,2019,0.15
1098,"[-120.0819, -120.0483, -120.0202, -120.01951, ...","[38.40885, 38.42063, 38.43306, 38.43315, 38.42...",Tuolumne,2019,0.454917
1099,"[-119.37595, -119.36788, -119.35639, -119.3424...","[34.06867, 34.07042, 34.07081, 34.06896, 34.06...",Ventura,2019,0
1100,"[-121.53368, -121.50511, -121.50126, -121.5326...","[38.47438, 38.46963, 38.44557, 38.43146, 38.41...",Yolo,2019,0.728148
1101,"[-121.23727, -121.161, -121.11582, -121.07669,...","[39.52657, 39.51954, 39.5671, 39.59726, 39.597...",Yuba,2019,0

In [26]:
data = ColumnDataSource(plot_df)
view = CDSView(source = data, filters = [GroupFilter(column_name = "year", group = "2001")])

In [27]:
callback = CustomJS(args = {"source": data, "view": view}, code = """
    console.log("Hey dummy")
    view.filters[0].group = cb_obj.value.toString();
    source.change.emit();
""")

slider = Slider(start=2001, end=2019, value=2001, title="Year")

slider.js_on_change("value", callback)

In [28]:
# # add slider with callback to update data source
# slider = Slider(start=2001, end=2019, value=2001, step=1, title="Year")

In [31]:
TOOLS = "pan,wheel_zoom,reset,hover,save"

p = figure(
    title="CA spending", tools=TOOLS,
    x_axis_location=None, y_axis_location=None,
    tooltips=[
        ("Name", "@name"), ("Spending)", "@rate"), ("(Long, Lat)", "($x, $y)")
    ])
p.grid.grid_line_color = None
p.hover.point_policy = "follow_mouse"

p.patches('x', 'y', source=data, view = view,
          fill_color={'field': 'rate', 'transform': LogColorMapper(palette=palette)},
          fill_alpha=0.7, line_color="black", line_width=0.5)

layout = Column(slider, p)
show(layout)

In [30]:
exp = plot_df.copy()

In [ ]:
len(exp['rate'])

In [ ]:
import random
exp['rate'] = random.sample(range(20, 4000), 1102)

In [ ]:
data = ColumnDataSource(exp)
view = CDSView(source = data, filters = [GroupFilter(column_name = "year", group = "2001")])

In [ ]:
np.nanmean([1,2,np.nan])